<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:utext="#{lang.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit" th:utext="#{lang.logout}">
        </button>
    </form>

    <form th:action="@{/allUsers}" method="get">
        <button class="btn btn-md btn-info btn-block" name="allUsers"
                type="Submit" th:utext="#{lang.all.users}">
        </button>
    </form>

    <form th:action="@{/allFaculties}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="allFaculties"
                type="Submit" th:utext="#{lang.all.faculties}">
        </button>
    </form>



</div>
</body>
</html>