<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:utext="#{lang.title}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

  <form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="logout"
            type="Submit" th:utext="#{lang.logout}">
    </button>
  </form>
  <form th:action="@{/applicant/home}" method="get">
    <button class="btn btn-md btn-default btn-block" name="back"
            type="Submit" th:utext="#{lang.back}">
    </button>
  </form>

  <h1 th:utext="#{lang.show.applications}"></h1>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th th:utext="#{lang.faculty.number.of.application}"></th>
        <th th:utext="#{lang.faculty.name.caps}" ></th>
        <th th:utext="#{lang.faculty.licensed.caps}"></th>
        <th th:utext="#{lang.faculty.budget.caps}"></th>
      </tr>

      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(requests)}">
        <td colspan="5" th:utext="#{lang.not.found}"></td>
      </tr>
      <tr th:each="request : ${requests}">
        <td th:text="${requestStat.count}"></td>
        <td th:text="${requests.get(requestStat.index).facultyName}"></td>
        <td th:text="${requests.get(requestStat.index).licensedVolume}"></td>
        <td th:text="${requests.get(requestStat.index).budgetPlaces}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>